<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change email page</title>
</head>
<body>

<div>
    <h1>Enter your new email address</h1>
</div>
<div>
    <form
            method="post"
            th:action="@{/users/change-email/process}"
            th:object="${change_mail}">

        <label>User ID</label>
        <input
                type="text"
                placeholder="User ID"
                th:field="*{userId}">
        <label>Email</label>
        <input
                type="text"
                placeholder="Email address"
                th:field="*{newMail}">
        <button type="submit">Change email</button>

    </form>

</div>
</body>
</html>