<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div>
    <div class="container">
        <h1 class="form_title">Employee register</h1>
        <p>Please enter your personal data</p>
        <hr/>
    <form
            method="post"
            th:action="@{/register/user}"
            th:object="${user}">

        <label class="reg_label">First name</label>
        <input
                type="text"
                placeholder="Username"
                th:field="*{username}">
                <label class="reg_label">Last name</label>
        <input
                type="text"
                placeholder="Username"
                th:field="*{username}">
                <label class="reg_label">Age</label>
        <input
                type="text"
                placeholder="Username"
                th:field="*{username}">
                
        <label class="reg_label">Email for contact</label>
        <input
                type="text"
                placeholder="Email address"
                th:field="*{mail}">
                <label class="reg_label">Phone number</label>
        <input
                type="text"
                placeholder="Email address"
                th:field="*{mail}">
                <label class="reg_label">Website</label>
        <input
                type="text"
                placeholder="Email address"
                th:field="*{mail}">

        <label class="reg_label">City:</label>
        <select th:field="*{userRole}">
            <option th:each="type : ${T(com.enikolov.netitbackendhr.enums.UserRole).values()}"
                    th:value="${type}" th:text="${type}">
            </option>
        </select>
        <label class="reg_label">Address</label>
        <input
                type="text"
                placeholder="Email address"
                th:field="*{mail}">
        <hr/>
        <button class="register_button" type="submit">Create user</button>

    </form>
    </div>

</div>
</body>
</html>