<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>

<div>
    <h1>Register page</h1>
</div>
<div>
    <form
            method="post"
            th:action="@{/register/user}"
            th:object="${user}">

        <label>Username</label>
        <input
                type="text"
                placeholder="Username"
                th:field="*{username}">
        <label>Password</label>
        <input
                type="password"
                placeholder="password"
                th:field="*{password}">
        <label>Password</label>
        <input
                type="password"
                placeholder="password"
                th:field="*{matchingPassword}">
        <label>Email</label>
        <input
                type="text"
                placeholder="Email address"
                th:field="*{mail}">

        <label>I am:</label>
        <select th:field="*{userRole}">
            <option th:each="type : ${T(com.enikolov.netitbackendhr.enums.UserRole).values()}"
                    th:value="${type}" th:text="${type}">
            </option>
        </select>
        <button type="submit">Create user</button>

    </form>

</div>
</body>
</html>