<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div id="navigation--sidebar" th:fragment="navigation-sidebar">					
	<div class="sidebar-wrapper">
		<div
						class="navigation--workspace-panel-title" th:text="${user.fullname}">Menu</div>

			<div class="navigation--workspace-panel" th:if="${user.userRole == 'EMPLOYEE'}">
				<div
						class="navigation--workspace-panel-title">Menu</div>
				<ul>
					<a th:href="@{/campaigns/show-all}">
						<li class="navigation--workspace-item">Active campaigns</li>
					</a>
					<a th:href="@{/applies/show-all}">
						<li class="navigation--workspace-item">My applies</li>
					</a>
					<a th:href="@{/applies/show-all/blues}">
						<li class="navigation--workspace-item">Pending interviews</li>
					</a>
				</ul>
			</div>
		<div class="navigation--workspace-panel" th:if="${user.userRole == 'EMPLOYER'}">
			<div
					class="navigation--workspace-panel-title">Menu</div>
			<ul>
				<a th:href="@{/campaigns/create}">
					<li class="navigation--workspace-item">Create new campaign</li>
				</a>
				<a th:href="@{/campaigns/show-all}">
					<li class="navigation--workspace-item">Show my campaigns</li>
				</a>
				<a th:href="@{/applies/show-all}">
					<li class="navigation--workspace-item">Show applies</li>
				</a>
			</ul>
		</div>
		<div class="navigation--workspace-panel" th:if="${user.userRole == 'HR'}">
			<div
					class="navigation--workspace-panel-title">Menu</div>
			<ul>
				<a th:href="@{/applies/show-all}">
					<li class="navigation--workspace-item">Show applies</li>
				</a>
				<a th:href="@{/campaigns/show-all}">
					<li class="navigation--workspace-item">Show campaigns</li>
				</a>
			</ul>
		</div>
		<div class="navigation--workspace-panel">
			<div
					class="navigation--workspace-panel-title">Profile</div>
			<ul>
				<a th:href="@{/messages/inbox/show-all}" th:if="${hasUnread}">
					<li class="navigation--workspace-item hasUnread">UNREAD MESSAGES</li>
				</a>
				<a th:href="@{/messages/inbox/show-all}" th:if="${!hasUnread}">
					<li class="navigation--workspace-item">Inbox</li>
				</a>
				<a th:href="@{/messages/outbox/show-all}">
					<li class="navigation--workspace-item">Outbox</li>
				</a>
				<a th:href="@{/profile/edit}">
					<li class="navigation--workspace-item">Edit profile</li>
				</a>
				<a th:href="@{/logout}">
					<li class="navigation--workspace-item">Logout</li>
				</a>
			</ul>
		</div>
	</div>
	</div>

</body>
</html>