<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title th:text="${campaign.title}">Page title</title>
    <link th:href="@{/style/global/global.css}" rel="stylesheet" />
    <link th:href="@{/style/global/util.css}" rel="stylesheet" />
    <link th:href="@{/style/global/form.css}" rel="stylesheet" />
    <link th:href="@{/style/page/dashboard.css}" rel="stylesheet" />
</head>

<body>
    
    <div class="center ptb-36">
        <img id="logo" src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.273/static/media/trello-logo-blue.f7627b3a.svg">
    </div>
    <div id="app-wrapper">

        <div class="navigation--main" th:replace="fragments/navigation-sidebar :: navigation-sidebar">
        </div>

        <div id="content--main">
    <!-- START PAGE CONTENT -->
    <!-- ****************** -->
    <div class="content-box-wrapper">
        <div class="box-header">

            <div class="campaign-box-title">
                <span th:text="${campaign.title}">Campaign 1</span>
            </div>

            <div class="in-box-actions" th:if="${user.userRole == 'EMPLOYER'}">
                <a th:href="@{|/campaigns/view/${campaign.id}|}">View</a>
                <span> | </span>
                <a th:href="@{|/campaigns/edit/${campaign.id}|}">Edit</a>
                <span> | </span>
                <a th:href="@{|/campaigns/delete/${campaign.id}|}">Delete</a>

            </div>
            <div class="in-box-actions" th:if="${user.userRole == 'EMPLOYEE'}">
                <a th:href="@{|/campaigns/view/${campaign.id}|}">View</a>
                <span> | </span>
                <a th:href="@{|/campaigns/apply/${campaign.id}|}">Apply</a>

            </div>
        </div>
        <div class="campaign-box-category">
            <span>Category <b th:text="${campaign.category.categoryName}"></b></span>
        </div>
        
        <div class="campaign-box-description--show-one">
            <span><pre th:text="${campaign.description}">Description</pre></span>
<!--            <pre><c:out th:value="${campaign.description}"/></pre>-->
        </div>

        <div class="campaign-box-footer">
            <span class="campaign-box-footer--salary">Salary: <b th:text="${campaign.salaryMin}">1000</b> to <b th:text="${campaign.salaryMax}">1500</b></span>
            <span class="campaign-box-footer--publishing">Publishing time: <b th:text="${campaign.publishDate}">02.12.2021</b> <b th:text="${campaign.publishTime}"> 18:44</b></span>
        </div>
    </div>

    <!-- END PAGE CONTENT -->
    <!-- ****************** -->
        </div>
    </div>

</body>
</html>