<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>All campaigns</title>
    <link th:href="@{/style/global/global.css}"     rel="stylesheet" />
    <link th:href="@{/style/global/util.css}"       rel="stylesheet" />
    <link th:href="@{/style/global/form.css}"       rel="stylesheet" />
    <link th:href="@{/style/page/dashboard.css}"    rel="stylesheet" />
    <link th:href="@{/style/page/show-all.css}"     rel="stylesheet" />
</head>

<body>
    
    <div class="center ptb-8">
        <img id="logo" src="/images/logo.png" />
    </div>
    <div id="app-wrapper">

        <div class="navigation--main" th:replace="fragments/navigation-sidebar :: navigation-sidebar">
        </div>

        <div id="content--main">
                <div th:if="${user.userRole == 'EMPLOYER'}">
                    <a th:href="@{/campaigns/create}">
                        <span class="input input-button input-button--green ">Start new campaign</span>
                    </a>
                </div>
                <div th:if="${user.userRole == 'EMPLOYEE'}">
                    <form   method="post"
                            th:object="${employerSelected}"
                            th:action="@{/campaigns/filter-by-employer}" 
                            class="filter-form">
                        <select class="input filter-select" th:field="*{id}">
                            <option selected th:value="0">Choose employer</option>
                            <option th:each="employer : ${allEmployers}" th:value="${employer.id}" th:text="${employer.name}"></option>
                        </select>
                        <button class="input input-button input-button--green filter-button" type="submit">Filter</button>
                    </form>
                </div>
                <div th:if="${message != null}" th:class="${message.style}">
                    <span th:text="${message.message}">InfoMessage</span>
                </div>
            <div class="WARNING_MSG" th:if="${(error != null)}">
                There is no campaigns. Lets create one?
            </div>

            <div class="content-box-wrapper"  th:each="campaign : ${campaigns}">
                <div class="box-header">

                    <div class="campaign-box-title">
                        <span th:text="${campaign.title}">Campaign 1</span>
                    </div>
                    <div class="in-box-actions" th:if="${user.userRole == 'EMPLOYER'}">
                        <a th:href="@{|/campaigns/view/${campaign.id}|}">View</a>
                        <span> | </span>
                        <a th:href="@{|/campaigns/edit/${campaign.id}|}">Edit</a>
                        <span> | </span>
                        <a th:href="@{|/campaigns/delete/${campaign.id}|}">Delete</a>
                        
                    </div>
                    <div class="in-box-actions" th:if="${user.userRole == 'EMPLOYEE'}">
                        <a th:href="@{|/campaigns/view/${campaign.id}|}">View</a>
                        <span> | </span>
                        <a th:href="@{|/campaigns/apply/${campaign.id}|}">Apply</a>

                    </div>
                    
                </div>
                <div class="campaign-box-category">
                    <span><b th:text="${campaign.category.categoryName}"></b></span>
                    <span class="company-name" th:if="${user.userRole == 'EMPLOYEE'}" th:text="${campaign.employer.name}">Company</span>
                </div>
                
                <div class="campaign-box-description">
                    <span th:text="${campaign.description}">Description</span>
                </div>

                <div class="campaign-box-footer">
                    <span class="campaign-box-footer--salary">Salary: <b th:text="${campaign.salaryMin}">1000</b> to <b th:text="${campaign.salaryMax}">1500</b></span>
                    <span class="campaign-box-footer--publishing">Publishing time: <b th:text="${campaign.publishDate}">02.12.2021</b> <b th:text="${campaign.publishTime}"> 18:44</b></span>
                </div>
            </div>
        </div>
    </div>

</body>

</html>