* {
	margin			: 0;
	padding			: 0;
	box-sizing		: border-box;
	font-family		: "Segoe UI";
	text-decoration	: none;
	list-style: none;
}
a:link {
	text-decoration: none;
}
  
a:visited {
	text-decoration: none;
}
  
a:hover {
	text-decoration: none;
}
  
a:active {
	text-decoration: none;
}

body {
	background: #fafafa;
}
.INFO_MSG,
.SUCCESS_MSG,
.WARNING_MSG,
.ERROR_MSG {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.INFO_MSG {
  color: #059;
  background-color: #BEF;
}
.SUCCESS_MSG {
  color: #270;
  background-color: #DFF2BF;
}
.WARNING_MSG {
  color: #9F6000;
  background-color: #FEEFB3;
}
.ERROR_MSG {
  color: #D8000C;
  background-color: #FFBABA;
}