#navigation--main{
    border: solid #026aa7 1px;
    background: #026aa7;
    height: 40px;
    padding: 4px;
}

#app-wrapper{
    display: flex;
    margin: auto;
    width: 1100px;
    padding-top: 36px;
}

#navigation-sidebar{
    border: solid #026aa7 1px;
    width: 300px;
}

#content--main{
    border: solid #026aa7 1px;
    width: 100%;
    padding-left: 10px;
}

.navigation--workspace{
    display: flex;
    justify-content: space-between;
}
.navigation--workspace-panel{
    border: solid #026aa7 1px;
    
}

.navigation--workspace-panel-title{
    font-weight: bold;
    font-size: 16px;
}
.navigation--workspace-item{
    padding-left: 30px;
    padding: 15px 30px;
}
.navigation--workspace-item:hover{
    background: rgba(9, 30, 66, 0.08);
}