<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <title>My dashboard</title>
    <link th:href="@{/style/global/global.css}" rel="stylesheet" />
    <link th:href="@{/style/global/util.css}" rel="stylesheet" />
    <link th:href="@{/style/global/form.css}" rel="stylesheet" />
    <link th:href="@{/style/page/dashboard.css}" rel="stylesheet" />
</head>

<body>
    
    <div class="center ptb-36">
        <img id="logo" src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.273/static/media/trello-logo-blue.f7627b3a.svg">
    </div>
    <div id="app-wrapper">

        <div class="navigation--main" th:replace="fragments/navigation-sidebar :: navigation-sidebar">
        </div>

        <div id="content--main">

            <div class="page-content-title">
                <span>HR dashboard</span>
            </div>

        </div>
    </div>

</body>

</html>