<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
	<link th:href="@{/style/global/global.css}" rel="stylesheet"/>
	<link th:href="@{/style/global/util.css}" 	rel="stylesheet"/>
	<link th:href="@{/style/global/form.css}" 	rel="stylesheet"/>
	<link th:href="@{/style/page/auth.css}" 	rel="stylesheet"/>
</head>
<body>
	
	<div id="wrapper">
	
		<!-- WEB APP Logo  -->
		<div class="center ptb-36">
			<img id="logo-auth" src="/images/logo.png" />
		</div>
	
		<!-- SIGN UP : Component -->
		<div id="auth-panel">
			<div class="center pb-16">
				<span class="header">Login in NETIT BACKEND HR</span>
			</div>

			<div 	th:if="${param.error}"
					class="ERROR_MSG">
				Username or password not valid!
			</div>
		
		
			<div>
				<form
					method="post"
					th:action="@{/login}"
					th:object="${user}">
			
					<input 
						class="input"  
						type="text" 
						placeholder="Username" 
						th:field="*{username}" 
						th:required="required">
						
					<input 
						class="input"  
						type="password" 
						placeholder="password" 
						th:field="*{password}"  
						th:required="required">
					<div class="buttons-div">
					<button 
						class="input input-button  input-button--green login-button"
						type="submit">Login</button>
						<input class="input input-button  input-button--blue register-button"
							   type="button"
							   onclick="location.href='/register';"
							   value="Register" />
					</div>
				</form>
			</div>
		</div>
	
	
	</div>
	
</body>
</html>