<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
	<link th:href="@{/style/global/global.css}" rel="stylesheet"/>
	<link th:href="@{/style/global/util.css}" 	rel="stylesheet"/>
	<link th:href="@{/style/global/form.css}" 	rel="stylesheet"/>
	<link th:href="@{/style/page/auth.css}" 	rel="stylesheet"/>
</head>
<body>
	
	<div id="wrapper">
	
		<!-- WEB APP Logo  -->
		<div class="center ptb-36">
			<img id="logo-auth" src="/images/logo.png" />
		</div>
	
		<!-- SIGN UP : Component -->
		<div id="auth-panel">
		
			<div class="center pb-16">
				<span class="header">Sign up for your account here</span>
			</div>
		
			<div>
				<form
					method="post" th:object="${userDTO}" th:action="@{/finish-registration}">
                    <input
						th:field="*{username}"
                        class="input"  
                        type="text" 
                        placeholder="Username">

					<input 
					th:field="*{mail}"
						class="input"  
						type="text" 
						placeholder="E-mail">
						
                    <input 
						th:field="*{password}"
                        class="input"  
                        type="password"
                        placeholder="Password">

                    <input 
						th:field="*{confirmPassword}"
                        class="input"  
                        type="password"
                        placeholder="Repeat password"> 
						
					<select class="input" th:field="*{userRole}">
						<option th:value="'select'">Please select account type</option>
						<option th:each="key : ${selectAccountType.keySet()}"
                                 th:value="${key}"
                                 th:utext="${selectAccountType.get(key)}">
                         </option>
					</select>
					
					<div class="buttons-div">
						<button 
							class="input input-button  input-button--green login-button"
							type="submit">Register</button>
							<input class="input input-button  input-button--blue register-button"
								   type="button"
								   onclick="location.href='/login';"
								   value="Login" />
						</div>
				</form>
			</div>
		</div>
	
	
	</div>
	
</body>
</html>